body{
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  height: 80px;
  background-color: rgb(160, 210, 187);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-left{
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.navbar-right {
  cursor: pointer;
  font-family: arial;
  font-weight: 200;
  font-size: 14px;
  margin-right: 20px ;

}

.auth {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.auth h3 {
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
}

.input-div{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
input {
  border: 1px solid lightgrey;
  padding: 8px ;
  width: 300px;
  border-radius: 5px;
  margin: 10px 0;
}


.login-button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(116, 34, 216);
  color: #fff;
  margin-right: 5px;
   cursor: pointer;
}

.register-button {
   padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(64, 170, 178);
  color: #fff;
  margin-right: 5px;
  
  cursor: pointer;
}

.google-button {
   padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(243, 20, 31);
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
}



